---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.left-icon
{
	width: 70px;
    float: left;
}

.right-content
{
	float:left;
	max-width:67%;
	width:auto;
}
.text-mute
{
	color: #666;
    font-size: 0.95rem;
    line-height: 1.8;
    font-weight: 400;
	text-align: inherit;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.service-bg
{
	background: url('/assets/images/bg.jpg');
	padding: 3.5em 0;
}

.mrg-btm-30
{
	margin-bottom:30px;
}
.mrg-btm-40
{
	margin-bottom:40px;
}

.cust-head
{
	font-size:3rem
}
.white-fg
{
	color:#fff;
}
.font-size-18
{
	font-size:18px;
}

.animated.delay-1 {
    -webkit-animation-delay: 0.10s;
    animation-delay: 0.10s;
}
.animated.delay-2 {
    -webkit-animation-delay: 0.20s;
    animation-delay: 0.20s;
}
.animated.delay-3 {
    -webkit-animation-delay: 0.30s;
    animation-delay: 0.30s;
}